<a href="https://colab.research.google.com/github/vineeth33/ML-Models/blob/main/Movie_predicition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

# Try reading the file with a different encoding
movie_data = pd.read_csv("/content/drive/MyDrive/intern_work/movie_prediction/IMDb.csv", encoding='ISO-8859-1')

# Display the first few rows of the dataset to understand its structure
movie_data.head(), movie_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15509 non-null  object
 1   Year      14981 non-null  object
 2   Duration  7240 non-null   object
 3   Genre     13632 non-null  object
 4   Rating    7919 non-null   float64
 5   Votes     7920 non-null   object
 6   Director  14984 non-null  object
 7   Actor 1   13892 non-null  object
 8   Actor 2   13125 non-null  object
 9   Actor 3   12365 non-null  object
dtypes: float64(1), object(9)
memory usage: 1.2+ MB

(                                 Name    Year Duration            Genre  \
 0                                         NaN      NaN            Drama
 1  #Gadhvi (He thought he was Gandhi)  (2019)  109 min            Drama
 2                         #Homecoming  (2021)   90 min   Drama, Musical
 3                             #Yaaram  (2019)  110 min  Comedy, Romance
 4                   ...And Once Again  (2010)  105 min            Drama

    Rating Votes            Director       Actor 1             Actor 2  \
 0     NaN   NaN       J.S. Randhawa      Manmauji              Birbal
 1     7.0     8       Gaurav Bakshi  Rasika Dugal      Vivek Ghamande
 2     NaN   NaN  Soumyajit Majumdar  Sayani Gupta   Plabita Borthakur
 3     4.4    35          Ovais Khan       Prateik          Ishita Raj
 4     NaN   NaN        Amol Palekar  Rajat Kapoor  Rituparna Sengupta

            Actor 3
 0  Rajendra Bhatia
 1    Arvind Jangid
 2       Roy Angana
 3  Siddhant Kapoor
 4      Antara Mali  ,
 None)

In [ ]:
# Handle missing values
# For simplicity, let's fill missing values in the 'Rating' column with the mean rating
movie_data['Rating'].fillna(movie_data['Rating'].mean(), inplace=True)

# Fill missing values in 'Year' with the mode
movie_data['Year'].fillna(movie_data['Year'].mode()[0], inplace=True)

# Fill missing values in 'Duration' with the mean duration
movie_data['Duration'].fillna(movie_data['Duration'].mode()[0], inplace=True)

# Fill missing values in 'Genre', 'Director', 'Actor 1', 'Actor 2', 'Actor 3' with 'Unknown'
movie_data['Genre'].fillna('Unknown', inplace=True)
movie_data['Director'].fillna('Unknown', inplace=True)
movie_data['Actor 1'].fillna('Unknown', inplace=True)
movie_data['Actor 2'].fillna('Unknown', inplace=True)
movie_data['Actor 3'].fillna('Unknown', inplace=True)

# Convert 'Year' to numeric
movie_data['Year'] = movie_data['Year'].str.extract('(\d+)').astype(int)

# Convert 'Duration' to numeric (assuming the format is 'X min')
movie_data['Duration'] = movie_data['Duration'].str.extract('(\d+)').astype(int)

# Display the cleaned data to verify
movie_data.head(), movie_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15509 non-null  object
 1   Year      15509 non-null  int64
 2   Duration  15509 non-null  int64
 3   Genre     15509 non-null  object
 4   Rating    15509 non-null  float64
 5   Votes     7920 non-null   object
 6   Director  15509 non-null  object
 7   Actor 1   15509 non-null  object
 8   Actor 2   15509 non-null  object
 9   Actor 3   15509 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 1.2+ MB

(                                 Name  Year  Duration            Genre  \
 0                                      2019       120            Drama
 1  #Gadhvi (He thought he was Gandhi)  2019       109            Drama
 2                         #Homecoming  2021        90   Drama, Musical
 3                             #Yaaram  2019       110  Comedy, Romance
 4                   ...And Once Again  2010       105            Drama

      Rating Votes            Director       Actor 1             Actor 2  \
 0  5.841621   NaN       J.S. Randhawa      Manmauji              Birbal
 1  7.000000     8       Gaurav Bakshi  Rasika Dugal      Vivek Ghamande
 2  5.841621   NaN  Soumyajit Majumdar  Sayani Gupta   Plabita Borthakur
 3  4.400000    35          Ovais Khan       Prateik          Ishita Raj
 4  5.841621   NaN        Amol Palekar  Rajat Kapoor  Rituparna Sengupta

            Actor 3
 0  Rajendra Bhatia
 1    Arvind Jangid
 2       Roy Angana
 3  Siddhant Kapoor
 4      Antara Mali  ,
 None)

In [ ]:
movie_data_encoded = pd.get_dummies(movie_data, columns=['Genre', 'Director', 'Actor 1', 'Actor 2', 'Actor 3'], drop_first=True)

In [ ]:
movie_data_encoded.drop(columns=['Name', 'Votes'], inplace=True)

from sklearn.model_selection import train_test_split

X = movie_data_encoded.drop(columns=['Rating'])
y = movie_data_encoded['Rating']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
print('MSE:', mean_squared_error(y_test, y_pred))
print('R2 Score:', r2_score(y_test, y_pred))

MSE: 0.7991035741784406
R2 Score: 0.16974300256512098